<div class="content">
<aside class="learn">
  <header> <h3>JavaScript</h3> 
    <span class="source-links">   
      <h5>Vanilla JavaScript Example</h5> 
      <a href="https://github.com/tastejs/todomvc/tree/gh-pages/examples/vanillajs">Source</a>   
    </span> 
  </header> 
  
  <hr> 
    <blockquote class="quote speech-bubble"> 
      <p>JavaScript® (often shortened to JS) is a lightweight, interpreted, object-oriented language with first-class functions, most known as the scripting language for Web pages, but used in many non-browser environments as well such as node.js or Apache CouchDB.</p> 
      <footer> <a href="http://developer.mozilla.org/en-US/docs/JavaScript">JavaScript</a> 
      </footer> 
    </blockquote>  
    <footer> 
      <hr> 
      <em>If you have other helpful links to share, or find any of the links above no longer work, please <a href="https://github.com/tastejs/todomvc/issues">let us know</a>.
      </em> 
    </footer>
  </aside>

  <app-todo-list></app-todo-list>

</div>